/* custom.css */

.navbar {
    background-color: #ffffff;
    height: 83px;
  }
  
  .nav-item {
    color: #000000;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  
  .mx-10 {
    margin-right: 2.5rem ;
    margin-left: 5.5rem;
  }